<div ng-controller="EditCtrl">
    <h2>Edit conference</h2>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>idConference</th>
                <th>conference</th>
                <th>acronym</th>
                <th>edition</th>
                <th>city</th>
                <th>country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{updatedConference.idConference}}</td>
                <td><input ng-model="updatedConference.conference" /></td>
                <td><input ng-model="updatedConference.acronym" /></td>
                <td><input ng-model="updatedConference.edition" /></td>
                <td><input ng-model="updatedConference.city" /></td>
                <td><input ng-model="updatedConference.country" /></td>

                <td>
                    <button class="btn btn-primary" ng-click="updateConference()">Edit</button>
                    <button class="btn btn-info" onclick="location.href='#!/conferences';">Back</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
