<div ng-controller="ListCtrl">
    <h2> List Conferences</h2>
    <br>
    <br>

    <!-- <div>
        <!--<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" maxlength="64" placeholder="Search" ng-model="searchValue">
        <!-- <a class="btn btn-info" ng-click="searchConference()">Search</a>
        <input type="text" class="form-control input-sm" width="50px" placeholder="Search">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="searchConference()">Search</button>
        <!--<button class="btn btn-info" onclick="location.href='#!/conferences';">Back</button>
        
        <!--<input type="text" class="form-control" name="search" id="search" placeholder="Search">
        <span class="glyphicon glyphicon-search form-control-feedback" ng-click="searchConference()"></span>
    </div>-->

    <div class="col-md-10 col-xs-3">
        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" width="64%" ng-model="searchValue" placeholder="Search">
    </div>
    <div class="col-md-2 col-xs-3">
        <a class="btn btn-info" ng-click="searchConference2()">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Search</font>
            </font>
        </a>
    </div>
    <br>
    <br>

    <table class="table table-responsive" style="display: block; width: 100%; overflow-x: auto;">
        <thead>
            <tr>
                <th>IdConference</th>
                <th>Conference</th>
                <th>Acronym</th>
                <th>Edition</th>
                <th>City</th>
                <th>Country</th>
                <th>Proceeding title</th>
                <th>UrlView</th>
                <th>Keywords</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><input ng-model="newConference.conference" /></td>
                <td><input ng-model="newConference.acronym" /></td>
                <td><input ng-model="newConference.edition" /></td>
                <td><input ng-model="newConference.city" /></td>
                <td><input ng-model="newConference.country" /></td>
                <td><input ng-model="newConference.proceedingTitle" /></td>
                <td><input ng-model="newConference.viewUrl" /></td>
                <td><input ng-model="newConference.keywords" /></td>
                <td>
                    <button class="btn btn-primary" ng-click="addConference()">Add</button>
                </td>
            </tr>

            <tr ng-repeat="conference in conferences">
                <td><a href="#!/edit/{{conference.idConference}}">{{conference.idConference}}</a></td>
                <td>{{conference.conference}}</td>
                <td>{{conference.acronym}}</td>
                <td>{{conference.edition}}</td>
                <td>{{conference.city}}</td>
                <td>{{conference.country}}</td>
                <td><a href='{{conference.proceedingViewURL}}'>{{conference.proceedingTitle}}</a></td>
                <td><a href='{{conference.viewUrl}}'>{{conference.viewUrl}}</a></td>
                <td>{{conference.keywords}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteConference(conference.idConference)">Delete</button>
                    <a href="#!/view/{{conference.idConference}}"><button class="btn btn-primary" ng-click="viewConference()">View</button></a>
                </td>
            </tr>
        </tbody>
        <td>
            <button class="btn btn-danger" ng-click="deleteAllConferences()">Delete all</button>
        </td>
    </table>

    <ul uib-pagination total-items="totalItems" ng-model="page" max-size="maxPagesLinksView" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>


</div>

</div>
