<div ng-controller="ListCtrl">
    <h2> List Conferences</h2>
    <br>
    <br>

    <div>
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search" ng-model="searchValue">
        <a class="btn btn-info" ng-click="searchConference()">Search</a>
        <!--<button class="btn btn-info" onclick="location.href='#!/conferences';">Back</button>-->
    </div>
    
    <table class="table table-responsive" style="display: block; width: 100%; overflow-x: auto;">
        <thead>
            <tr>
                <th>IdConference</th>
                <th>Conference</th>
                <th>Acronym</th>
                <th>Edition</th>
                <th>City</th>
                <th>Country</th>
                <th>Proceeding title</th>
                <th>Keywords</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><input ng-model="newConference.conference" /></td>
                <td><input ng-model="newConference.acronym" /></td>
                <td><input ng-model="newConference.edition" /></td>
                <td><input ng-model="newConference.city" /></td>
                <td><input ng-model="newConference.country" /></td>
                <td><input ng-model="newConference.proceedingTitle" /></td>
                <td><input ng-model="newConference.keywords" /></td>
                <td>
                    <button class="btn btn-primary" ng-click="addConference()">Add</button>
                </td>
            </tr>

            <tr ng-repeat="conference in conferences">
                <td><a href="#!/edit/{{conference.idConference}}">{{conference.idConference}}</a></td>
                <td>{{conference.conference}}</td>
                <td>{{conference.acronym}}</td>
                <td>{{conference.edition}}</td>
                <td>{{conference.city}}</td>
                <td>{{conference.country}}</td>
                <td><a href='{{conference.proceedingViewURL}}'>{{conference.proceedingTitle}}</a></td>
                <td>{{conference.keywords}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteConference(conference.idConference)">Delete</button>
                </td>
            </tr>
        </tbody>
        <td>
            <button class="btn btn-danger" ng-click="deleteAllConferences()">Delete all</button>
        </td>
    </table>

</div>
